* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.sidebar ul {
  margin: 0;
}

.sitesWithoutCategory li {
  padding: 1.25rem 1rem;
}

.category {
  display: block;
}

.categoryButtons {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.button-group,
.button  {
  margin-bottom: 0;
}

.categoryBtn,
.siteInCategoryBtn {
  flex: 1;
  text-align: left;
}

.editCategoryName {
  display: flex;
}

.editCategoryName-input {
  flex: 1;
}

.category.is-active .categoryButtons {
  background-color: lightgray;
}

.category-sitesInCategory {
  display: none;
}

.is-active .category-sitesInCategory {
  display: block;
}

.category-siteInCategory {
  display: flex;
  justify-content: space-between;
}

.category-siteInCategory.is-active {
  background-color: beige;
}

.deleteButtonsWrapper {
  position: relative;
}

.delete-actions {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  transition: transform 0.5s;
}

.delete-actions.is-visible {
  display: block;
}

.delete-actions.is-open {
  transform: translateX(100%)
}

/*Layers*/
.layer {
  position: fixed;
  z-index: 10;
  transition: transform 0.5s;
  background-color: white;
}

.layer--top {
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
} 

.layer--top.is-open {
  transform: translateY(0);
}

.editSite-buttonGroup {
  justify-content: space-between;
  display: flex;
}

/*Main Content*/
.article {
  clear: both;
  margin-bottom: 1em;
}

.article img {
  width: 100px;
  height: auto;
  float: left;
  margin: 0 1em 1em 0;
}

.selectedArticles {
  margin-left: 0;
}

.article-starred input {
  display: none;
}

.article-starred .icon svg {
  width: 1.3rem;
  height: 1.3rem;
  fill: white;
  stroke: black;
  transition: fill 0.5s;
}

.article-starred.is-starred .icon svg {
  fill: yellow;
}