* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.sidebar ul {
  margin: 0;
}

.category {
  display: block;
}

.categoryButtons {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.category .button-group,
.category .button  {
  margin-bottom: 0;
}

.categoryBtn,
.siteInCategoryBtn {
  flex: 1;
  text-align: left;
}

.editCategoryName {
  display: flex;
}

.editCategoryName-input {
  flex: 1;
}

.category.is-active .categoryButtons {
  background-color: lightgray;
}

.category-sitesInCategory {
  display: none;
}

.is-active .category-sitesInCategory {
  display: block;
}

.category-siteInCategory {
  display: flex;
  justify-content: space-between;
}

.category-siteInCategory.is-active {
  background-color: beige;
}

.deleteButtonsWrapper {
  position: relative;
}

.delete-actions {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}

.delete-actions.is-active {
  display: flex;
  transform: translateX(100%)
}

/*Layers*/
.layer {
  position: fixed;
  z-index: 10;
  transition: transform 0.5s;
  background-color: white;
}

.layer--top {
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
} 

.layer--top.is-open {
  transform: translateY(0);
}