@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideDown {
    0% {
        visibility: visible;
        transform: translateY(-100%);
    }
    
    100% {
        visibility: visible;
        transform: translateY(0);
    }
  }
  
  @keyframes slideUp {
    0% {
        visibility: visible;
        transform: translateY(0);
    }
    
    99% {
        visibility: visible;
        transform: translateY(-100%);
    }

    100% {
        visibility: hidden;
    }
  }


.slideUp {
    animation: slideUp 0.3s forwards;
}

.slideDown {
    animation: slideDown 0.3s forwards;
}

body {
    overflow-x: hidden;
}

.fetchingRss .refreshButton svg {
    animation: spin 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}